<% provide(:title, 'Проверка темы') %>
<% true_counter = 0 %>

<div class='task'>
<% @generated_tasks.each_with_index do |task,i| %>
    <% if task[:true_ans].round(1) == task[:user_ans].round(1) %>
        <% true_counter += 1 %>
        <div class="right">
            Вы правильно решили задачу, ответив: <%= task[:true_ans]%>
        </div>
        <% else %>
        <div class='error'>
            Вы ошиблись! Правильный ответ: <%= task[:true_ans]%> Ваш ответ: <%= task[:user_ans] %>
        </div>
    <% end %>
<% end %>
</div>
Вы решили <%= true_counter %> задач из <%= @generated_tasks.length %>.
Предполагаемая оценка <br>
<div class="note"> <%= get_note @generated_tasks.length, true_counter %> </div>
