<% provide(:title, 'Экзамен') %>
<% true_counter = 0 %>

<div class='task'>
<% @generated_tasks.each_with_index do |task,i| %>
    <% if task[:true_ans] == task[:user_ans] %>
        <% true_counter += 1 %>
        <div class="right">
            Вы правильно решили задачу, ответив:
            <%= task[:true_ans]%>
        </div>
    <% else %>
        <div class='error'>
            Вы ошиблись! Правильный ответ:
            <%= task[:true_ans]%>
            Ваш ответ: <%= task[:user_ans] %>
        </div>
    <% end %>
<% end %>
</div>
Вы решили
<%= true_counter %>
задач из
<%= @generated_tasks.length %>. Предполагаемая оценка
<br>
<div class="note">
    <%= (5*(true_counter/@generated_tasks.length))%>
</div>
