<!DOCTYPE html>
<html>
    <head>
        <title><%= full_title(yield(:title)) %></title>
        <%= csrf_meta_tags %>
        <meta name="viewport" content="width-device-width, initial-scale=1.0"/>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <!--[if lt IE 9]> <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script> <![endif]-->
    </head>

    <body>
        <main class="container">
            <%= yield %>

            <% if not current_page? menu_path_url %>
            <p class="footer">
                <%= button_to "В меню", menu_path_url,
              :class => "btn btn-large", :method => :get %>
                <% end %>
            </p>
        </main>
    </body>
</html>
